@import '../core/variables.scss';

header {
  background-image: url('../../images/header-background.png');
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.title {
  color: white;
  text-align: center;
}
