/*Ejercicio 2----------------------------------------------------------------------------------*/
body {
  background-color: khaki;
  border-style: double;
}
section {
  border-style: solid;
  background-color: lightcoral;
}
h2 {
    background-color: greenyellow;
    border-style: dotted;
}
/*--------------error------------------------*/
.section2 {
  background-color: peru;
}

.primero {
  display: block;
  background-color: indianred;
  border-style: groove;
  width:50px;
  height:30px;
}
.segundo {
  display: inline;
  width: 70px;
  height: 60px;
  background-color: rgb(115, 205, 92);
}
.tercero {
  display: inline;
  background-color: rgb(201, 123, 34);
  width:90px;
  height:60px;
}
.cuarto{
    background-color: teal;
    text-align: justify;
    
}

/*Ejercio 3*-------------------------------------------------------------------------------------/
