h1{background-color: rgb(238, 160, 160);
    color:src black;
    font: size 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}

p{text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: src #757575;}

ul{text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: src #757575;}

ol{text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: src #757575;}

body{background-color:src #f3f4f5;}


