body {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.element {
  justify-content: space-around;
  padding: 12px;
  border: 2px solid green;
  margin: 2px;
}

li {
  display: inline-block;
}
