h1{text-align: center;
    background-color: rgb(175, 133, 69);
    color: cornsilk;}
h2{text-align: center;}
h3{text-shadow: brown;}
body{background-color: rgb(221, 216, 145);}
footer{text-align: right;
    color: rgb(4, 115, 117);
    font-family: 'Courier New', Courier, monospace;}
p{text-align: justify;}
#logos{text-align: center;}
#volver{size: 2px;}
