@import '../core/variables.scss';

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-left: 1rem;
  color: rgb(54, 53, 53);
  width: 100vw;
  background-color: rgb(209, 199, 199);
  border: grey solid 1px;
}
