@import '../core/mixins.scss';

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; //en vez de 100vw
  height: 100%; //en vez de 100vh
  text-align: center;
  background-color: #eeec;
  @include tablet {
    text-align: initial;
  }
}

.modal.modal__hidden {
  display: none;
}

.modal__dialog {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 3px #ccc;
  background-color: #fff;
  margin-bottom: 4rem;
}

.modal__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  background-color: white;
  @include tablet {
    flex-direction: row-reverse;
  }
  &--title {
    padding-top: 0.5rem;
    font-size: 1rem;
    @include tablet {
      font-size: initial;
    }
  }
}
.modal__section {
  font-size: 0.8rem;
  @include tablet {
    font-size: initial;
  }
}
.modal__close {
  margin-left: 2rem;
}

.modal__footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}
