h1{text-align: center;
    background-color: rgb(31, 77, 177);
    color: cornsilk;}
h2{text-align: center;}
h3{text-shadow: rgb(42, 91, 165);}
footer{text-align: right;
    color: rgb(7, 16, 141);
    font-family: 'Courier New', Courier, monospace;}
p{text-align: justify;}
#logos{text-align: center;}
#volver{size: 2px;}
.button{
    border: 1px solid #2e758b; /*anchura, estilo y color borde*/
    padding: 2px; /*espacio alrededor texto*/
    background-color: #080679; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: capitalize; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }
body{font-size: 18px;
    font-family: tahoma;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1,5px;}
