body {
  background-color: burlywood;
}
header {
  background-color: cadetblue;
}
p {
  width: 80%;
  height: 80%;
}
div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 2px solid rgb(106, 211, 64);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
}
section {
  background-color: royalblue;
  border: 2px solid rgb(38, 71, 25);
  flex-grow: 1;
  width: 40%;
  margin: 5px;
  order: 0;
}

img {
  width: 100%;
}

.destacada {
  background-color: red;
  flex-grow: 2; /*-----no funciona-----------*/
  order: -1;
}
