* {
  margin: 2px;
}
:root {
  --altura: 100px;
}
body {
  border: lightcoral 5px solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  border: black 2px solid;
  order: 0;
}
.header {
  background-color: orange;
  min-width: 99.5%;
}
.main {
  margin: 0px;
  background-color: rgb(76, 76, 207);
  max-width: 80%;
  flex-grow: 2;
  order: 1;
  height: var(--altura);
}
.footer {
  background-color: rgb(82, 143, 82);
  min-width: 99.5%;
  order: 3;
}
.aside {
  flex-grow: 1;
  height: var(--altura);
}
.aside1 {
  background-color: yellow;
}
.aside2 {
  background-color: rgb(189, 78, 152);
  order: 2;
}
